
<div class="container">
  <div class="row">
    <h3>Welcome to Connect4!</h3>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <h2 id="turninfo">Waiting for match...</h1>
    </div>
  </div>
</div>
<div class="container-canvas">
  <canvas id="connect4" width="700" height="600">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>

